<!DOCTYPE html>
<html>
<body>
 <h1><a href="{% url 'v1-problem-details' problem.type %}">{{problem.name}}</a></h1>
 <h2>{{problem.title}}</h2>
 {% if problem.status_code %}
 <p><strong>Http Response Status Code:</strong> {{problem.status_code}}</p> 
 {% endif %}
 {% if problem.detail %}
 <p><pre>{{problem.detail}}</pre></p>
 {% endif %}
 <hr />
 <p><pre>{{problem.description}}</pre></p>
</body>
</html>

